body {
  background-color: hsl(217, 100%, 97%);
  box-sizing: border-box;
  margin: 0;
  height: 100vh;
  font-family: 'Ubuntu', sans-serif;
  display: flex;
  flex-direction: column;
}

p {
  margin: 0;
}

.header {
  background-image: url('../../public/images/bg-sidebar-mobile.svg');
  background-repeat: no-repeat;
  background-size: cover;
  padding-inline: 4em;
  padding-block-start: 2em;
  padding-block-end: 6em;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.header__list-item {
  font-weight: 700;
  font-size: 0.8rem;
  border: 1px solid hsl(0 0% 100%);
  padding-block: 0.5em;
  padding-inline: 0.8em;
  border-radius: 50%;
}

.header__list-item--active {
  background-color: hsl(228, 100%, 84%);
  color: hsl(213 96% 18%);
  border: 1px solid hsl(229, 24%, 87%);
}

.header__list-item--inactive {
  color: hsl(0 0% 100%);
}

.footer {
  background-color: hsl(0 0% 100%);
  margin-block-start: auto;
  text-align: end;
  padding: 1em;
}

.btn {
  font-size: 0.9rem;
  display: inline-flex;
  text-decoration: none;
  color: hsl(0 0% 100%);
  border: none;
  border-radius: 5px;
  padding-block: 0.8em;
  padding-inline: 1.25em;
}

/* MODIFIERS */

.btn--primary {
  background-color: hsl(213, 96%, 18%);
}

.btn--state-confirm {
  background-color: hsl(243 100% 62%);
}