/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Marine blue: hsl(213, 96%, 18%)
- Purplish blue: hsl(243, 100%, 62%)
- Pastel blue: hsl(228, 100%, 84%)
- Light blue: hsl(206, 94%, 87%)
- Strawberry red: hsl(354, 84%, 57%)

### Neutral

- Cool gray: hsl(231, 11%, 63%)
- Light gray: hsl(229, 24%, 87%)
- Magnolia: hsl(217, 100%, 97%)
- Alabaster: hsl(231, 100%, 99%)
- White: hsl(0, 0%, 100%)

## Typography

### Body Copy

- Font size (paragraph): 16px

### Font

- Family: [Ubuntu](https://fonts.google.com/specimen/Ubuntu)
- Weights: 400, 500, 700 */

/* BLOCKS */

.card {
    width: min(90%, 500px);
    position: relative;
    bottom: 4rem;
    background-color: hsl(0 0% 100%);
    border-radius: 10px;
    margin-block: 0;
    margin-inline: auto;
}

.card__content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    padding-block: 2em;
    padding-inline: 1em;
}

.card__text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0.5em;
}

.card__title {
    font-weight: 700;
    font-size: 1.5rem;
    color: hsl(213 96% 18%);
}

.card__description {
    color: hsl(231 11% 63%);
}

.info-form {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 0.3em;
}

.input-container__label {
    font-size: 0.8rem;
    color: hsl(213 96% 18%);
}

.input-container__input {
    font-size: 1rem;
    font-weight: 700;
    color: hsl(213 96% 18%);
    border-radius: 2px;
    border: none;
    outline: 1px solid hsl(229 24% 87%);
    padding-block: 0.5em;
    padding-inline: 0.8em;
}